<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widgets - Matrix Admin</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">

    <!-- CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper">

        <!-- Topbar -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">

                <div class="navbar-header" data-logobg="skin5">
                    <a class="nav-toggler d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>

                    <a class="navbar-brand" href="/dashboard">
                        <b class="logo-icon p-l-10">
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <span class="logo-text">
                            <img src="/assets/images/logo-text.png" alt="homepage" class="light-logo" />
                        </span>
                    </a>

                    <a class="topbartoggler d-block d-md-none" href="javascript:void(0)"
                       data-toggle="collapse" data-target="#navbarSupportedContent">
                        <i class="ti-more"></i>
                    </a>
                </div>

                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">

                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link sidebartoggler" href="javascript:void(0)">
                                <i class="mdi mdi-menu font-24"></i>
                            </a>
                        </li>

                        <li class="nav-item search-box">
                            <a class="nav-link" href="javascript:void(0)">
                                <i class="ti-search"></i>
                            </a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search & enter">
                                <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>

                    <!-- Right side icons -->
                    <ul class="navbar-nav float-right">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <i class="mdi mdi-bell font-24"></i>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
                               data-toggle="dropdown">
                                <img src="/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Sidebar -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/dashboard">
                                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/charts">
                                <i class="mdi mdi-chart-bar"></i><span class="hide-menu">Charts</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/widgets">
                                <i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Widgets</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/tables">
                                <i class="mdi mdi-border-inside"></i><span class="hide-menu">Tables</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>

        <!-- Page wrapper start -->
        <div class="page-wrapper">

            <!-- Page title -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Widgets</h4>
                    </div>
                </div>
            </div>

            <!-- Page Content -->
            <div class="container-fluid">

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

                <div class="row">
                    <div class="col-md-6">

                        <!-- Recent Posts Card -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title m-b-0">Recent Posts</h4>
                            </div>

                            <div class="comment-widgets scrollable">

                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row m-t-0">
                                    <div class="p-2">
                                        <img src="/assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
                                    </div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">James Anderson</h6>
                                        <span class="m-b-15 d-block">
                                            Lorem Ipsum is simply dummy text of the printing and type setting industry.
                                        </span>
                                        <div class="comment-footer">
                                            <span class="text-muted float-right">April 14, 2016</span>
                                            <button class="btn btn-cyan btn-sm">Edit</button>
                                            <button class="btn btn-success btn-sm">Publish</button>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- More Comment Rows Below (same structure) -->
                                <div class="d-flex flex-row comment-row">
                                    <div class="p-2"><img src="/assets/images/users/4.jpg" width="50" class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Michael Jorden</h6>
                                        <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing industry.</span>
                                        <div class="comment-footer">
                                            <span class="text-muted float-right">May 10, 2016</span>
                                            <button class="btn btn-cyan btn-sm">Edit</button>
                                            <button class="btn btn-success btn-sm">Publish</button>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row comment-row">
                                    <div class="p-2"><img src="/assets/images/users/5.jpg" width="50" class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Johnathan Doeting</h6>
                                        <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the industry.</span>
                                        <div class="comment-footer">
                                            <span class="text-muted float-right">Aug 1, 2016</span>
                                            <button class="btn btn-cyan btn-sm">Edit</button>
                                            <button class="btn btn-success btn-sm">Publish</button>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Accordion -->
                        <div class="accordion" id="accordionExample">
                            <div class="card m-b-0">
                                <div class="card-header" id="headingOne">
                                    <a data-toggle="collapse" data-target="#collapseOne">
                                        <i class="m-r-5 fa fa-magnet"></i>
                                        <span>Accordion Example 1</span>
                                    </a>
                                </div>

                                <div id="collapseOne" class="collapse show">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus...
                                    </div>
                                </div>
                            </div>

                            <div class="card m-b-0 border-top">
                                <div class="card-header">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo">
                                        <i class="m-r-5 fa fa-magnet"></i>
                                        <span>Accordion Example 2</span>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life...
                                    </div>
                                </div>
                            </div>

                            <div class="card m-b-0 border-top">
                                <div class="card-header">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseThree">
                                        <i class="m-r-5 fa fa-magnet"></i>
                                        <span>Accordion Example 3</span>
                                    </a>
                                </div>

                                <div id="collapseThree" class="collapse">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life...
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Toggle Section -->
                        <div id="accordian-4">
                            <div class="card m-t-30">

                                <a class="card-header link" data-toggle="collapse" href="#Toggle-1">
                                    <i class="fa fa-arrow-right"></i>
                                    <span>Toggle, Open by default</span>
                                </a>

                                <div id="Toggle-1" class="collapse show">
                                    <div class="card-body">
                                        This box is opened by default...
                                    </div>
                                </div>

                                <a class="card-header link border-top" data-toggle="collapse" href="#Toggle-2">
                                    <i class="fa fa-times"></i>
                                    <span>Toggle, Closed by default</span>
                                </a>

                                <div id="Toggle-2" class="collapse">
                                    <div class="card-body">This box is now open</div>
                                </div>

                                <a class="card-header collapsed link border-top" data-toggle="collapse" href="#Toggle-3">
                                    <i class="fa fa-times"></i>
                                    <span>Toggle, Closed by default</span>
                                </a>

                                <div id="Toggle-3" class="collapse">
                                    <div class="card-body">This box is now open</div>
                                </div>

                            </div>
                        </div>

                        <!-- News Updates -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title m-b-0">News Updates</h4>
                            </div>

                            <ul class="list-style-none">

                                <li class="d-flex no-block card-body">
                                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                                    <div>
                                        <a href="#" class="font-medium">Lorem ipsum dolor sit amet...</a>
                                        <span class="text-muted">dolor sit amet, consectetur</span>
                                    </div>
                                    <div class="ml-auto">
                                        <h5 class="text-muted m-b-0">20</h5>
                                        <span class="text-muted">Jan</span>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>

                    <!-- RIGHT SIDE CONTENT -->
                    <div class="col-md-6">

                        <!-- Tasks -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Tasks</h5>
                            </div>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Making The New Suit</td>
                                        <td class="text-success">Progress</td>
                                        <td>
                                            <i class="mdi mdi-check"></i>
                                            <i class="mdi mdi-close"></i>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Launch My New Site</td>
                                        <td class="text-warning">Pending</td>
                                        <td>
                                            <i class="mdi mdi-check"></i>
                                            <i class="mdi mdi-close"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Recent Activity -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title m-b-0">Recent Activity</h4>
                            </div>

                            <ul class="list-style-none">

                                <li class="card-body">
                                    <div class="d-flex no-block">
                                        <i class="fa fa-check-circle w-30px m-t-5"></i>
                                        <div>
                                            <span class="font-bold">Themeforest</span> approved my college
                                            <span class="font-bold">1 user</span>
                                            <span>2 Hours Ago</span>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <!-- Tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tab1">Tab1</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab2">Tab2</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab3">Tab3</a>
                                </li>
                            </ul>

                            <div class="tab-content tabcontent-border">

                                <div class="tab-pane active" id="tab1">
                                    <div class="p-20">
                                        <p>And is full of waffle...</p>
                                        <img src="/assets/images/background/img4.jpg" class="img-fluid">
                                    </div>
                                </div>

                                <div class="tab-pane p-20" id="tab2">
                                    <img src="/assets/images/background/img4.jpg" class="img-fluid">
                                    <p class="m-t-10">Lorem ipsum dolor sit amet...</p>
                                </div>

                                <div class="tab-pane p-20" id="tab3">
                                    <p>And is full of waffle...</p>
                                    <img src="/assets/images/background/img4.jpg" class="img-fluid">
                                </div>

                            </div>
                        </div>

                        <!-- To Do List -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">To Do List</h4>
                                <div class="todo-widget scrollable" style="height:450px;">
                                    <ul class="list-task todo-list list-group m-b-0">

                                        <li class="list-group-item todo-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="todo1">
                                                <label class="custom-control-label todo-label" for="todo1">
                                                    <span class="todo-desc">Lorem Ipsum is simply dummy text.</span>
                                                    <span class="badge badge-danger float-right">Today</span>
                                                </label>
                                            </div>

                                            <ul class="list-style-none assignedto">
                                                <li class="assignee">
                                                    <img class="rounded-circle" width="40" src="/assets/images/users/1.jpg">
                                                </li>
                                                <li class="assignee">
                                                    <img class="rounded-circle" width="40" src="/assets/images/users/2.jpg">
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="list-group-item todo-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="todo2">
                                                <label class="custom-control-label todo-label" for="todo2">
                                                    <span class="todo-desc">Lorem Ipsum is simply dummy text.</span>
                                                    <span class="badge badge-primary float-right">1 week</span>
                                                </label>
                                            </div>
                                            <div class="item-date">26 Jun 2017</div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Progress Box -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Progress Box</h4>

                                <div class="m-t-20">
                                    <div class="d-flex">
                                        <span>81% Clicks</span>
                                        <span class="ml-auto">125</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped" style="width:81%"></div>
                                    </div>
                                </div>

                                <div class="m-t-25">
                                    <div class="d-flex">
                                        <span>72% Unique Clicks</span>
                                        <span class="ml-auto">120</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-success" style="width:72%"></div>
                                    </div>
                                </div>

                                <div class="m-t-25">
                                    <div class="d-flex">
                                        <span>53% Impressions</span>
                                        <span class="ml-auto">785</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-info" style="width:53%"></div>
                                    </div>
                                </div>

                                <div class="m-t-25">
                                    <div class="d-flex">
                                        <span>3% Online Users</span>
                                        <span class="ml-auto">8</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-danger" style="width:3%"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Stats Row -->
                <div class="row">

                    <!-- Browser Statistics -->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Browser Statistics</h5>
                            </div>

                            <table class="table">
                                <thead>
                                    <tr><th>Browser</th><th>Visits</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>Chrome</td><td>8850</td></tr>
                                    <tr><td>Firefox</td><td>1200</td></tr>
                                    <tr><td>Internet Explorer</td><td>1540</td></tr>
                                    <tr><td>Opera</td><td>1230</td></tr>
                                    <tr><td>Safari</td><td>1590</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Website Statistics -->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Website Statistics</h5>
                            </div>

                            <table class="table">
                                <thead>
                                    <tr><th>Site</th><th>Visits</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td><a href="#" class="link">Themeforest.com</a></td><td>1240</td></tr>
                                    <tr><td><a href="#" class="link">Themedesigner.in</a></td><td>1200</td></tr>
                                    <tr><td><a href="#" class="link">Themedesigner.in</a></td><td>1542</td></tr>
                                    <tr><td><a href="#" class="link">Themedesigner.in</a></td><td>1230</td></tr>
                                    <tr><td><a href="#" class="link">Themedesigner.in</a></td><td>1542</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Visited Pages -->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Visited Pages</h5>
                            </div>

                            <table class="table">
                                <thead>
                                    <tr><th>Page</th><th>Visits</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td><a href="#" class="link">Freebies</a></td><td>1240</td></tr>
                                    <tr><td><a href="#" class="link">Blog</a></td><td>1200</td></tr>
                                    <tr><td><a href="#" class="link">Work</a></td><td>1542</td></tr>
                                    <tr><td><a href="#" class="link">Site Template</a></td><td>1230</td></tr>
                                    <tr><td><a href="#" class="link">All categories</a></td><td>1542</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- END Stats -->

            </div>

            <!-- Footer -->
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by WrapPixel.
            </footer>

        </div>
        <!-- END Page Wrapper -->

    </div>
    <!-- END Main Wrapper -->

    <!-- JS Files -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>

    <script src="/dist/js/waves.js"></script>
    <script src="/dist/js/sidebarmenu.js"></script>
    <script src="/dist/js/custom.min.js"></script>

</body>
</html>